body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #1e1c1c;
}
body h1 {
  color: white;
}
.watchlist-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.watchlist-item {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.watchlist-item p {
  color: white;
}
.watchlist-item:hover {
  transform: translateY(-5px);
}

.watchlist-item img {
  width: 226px;
  height: 300px;
  /* object-fit: cover; */
}

.remove-btn {
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  background-color: #565252;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: bottom 0.3s ease;
  width: 100%;
}

.watchlist-item:hover .remove-btn {
  bottom: 0;
}

.remove-btn:hover {
  background-color: #3c3a3a;
}
