* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Header Styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0f0617;
  color: #fff;
  padding: 14px 32px;;
}

.nav-left {
  flex: 1;
}

.logo-container img {
  width: 58px;
}

.nav-center {
  flex: 2;
  display: flex;
  align-items: center;
  position: relative;
}

/* Search Icon on the left inside the search bar */
.img-icon img {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 9px;
  top: 50%;
  transform: translateY(-50%);
}

/* Search Input */
.search-container {
  position: relative;
  width: 100%;
  margin-left: 803px;
  margin-right: -19px;
}

#searchInput {
  width: 318px;
  padding: 13px 36px;
  /* padding-left: 40px; */
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 13px;
  background-color: #222;
  color: #fff;
  border: 1px solid white;
  
}

#searchIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #888;
  cursor: pointer;
}

/* (Login) */
.nav-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

#login-container {
  background-color: #222;
  padding: 8px;
  border-radius: 7px;
  border: 2px solid white;
  margin-right: 75px;
}

#log {
  font-size: 13px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-family: NotoSansBold, sans-serif;
  
    font-weight: 669;
}

/* #log:hover {
  color: #f9fbfe;
  color: black;
} */
#login-container:hover {
  background-color: #fff;
  color: rgb(12, 12, 12); 

  
}
#login-container:hover #log {
  color: rgb(15, 15, 15); 
}
